[mysql]
host = 127.0.0.1
port = 3306
user = root

[mysqlimport]
host = 127.0.0.1
port = 3306
user = root

[mysqldump]
host = 127.0.0.1
port = 3306
user = root

[mysqlshow]
host = 127.0.0.1
port = 3306
user = root

[mysqlcheck]
host = 127.0.0.1
port = 3306
user = root

[mysqladmin]
host = 127.0.0.1
port = 3306
user = root
